# Núcleo
numpy<2.0
pandas

# Processamento de vídeo
opencv-python
Pillow
scenedetect[opencv]

# Deep Learning / Embeddings
torch
torchvision
torchaudio
torchcodec
ftfy
regex
tqdm

# CLIP (OpenAI)
git+https://github.com/openai/CLIP.git

# CLAP (áudio multimodal)
laion-clap

# Elasticsearch
elasticsearch==8.12.0

# Interface web (opcional, mas útil para o frontend)
streamlit

# Utilidades
scikit-learn
transformers

# Dataset / Download
fsspec<=2025.10.0
yt-dlp

# Áudio (garantia extra)
librosa
soundfile